<app-header></app-header>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
  <div class="header-blue">
      <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
          
      </nav>
      <div class="container hero">
          <div class="row">
              <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                  <h1>Business goal designs</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br></p>
                  <button
                      class="btn btn-light btn-lg action-button" type="button">Learn More<i class="fa fa-long-arrow-right ml-2"></i></button>
              </div>
              <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                  <div class="iphone-mockup">
                  <img class="device" src="https://i.imgur.com/bkCeTu7.png">
                    <!--  <div class="screen">
                      </div>
                      
                      -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>